<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>toar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7398CD1D1DF7DDB60018D720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7398CD311DF7DDB70018D720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7398CD3C1DF7DDB70018D720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
